/*
Template Name: Inspire - Bootstrap 4 Admin Dashboard
Author: UIdeck
Website: www.uideck.com
File: Main Css File
*/

// Font Family
@import "fonts";
html{
  overflow-x: hidden;
}
body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
  color: #ffffff;
  font-weight: normal;
  line-height: 1.5;
}
h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 12px;
}
a{
  color: #fff;
	-webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
	&:hover{
    text-decoration: none;
    color: $preset;
  }
  a:focus{
  	 outline: none;
	}
}
p{
  color: #fff;
  line-height: 1.8;
}
ul,ol{
  list-style: outside none none;
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
}
hr {
  border-top: 1px solid #5d6371;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

// Breadcrumb
.breadcrumb-wrapper{
  margin-bottom: 20px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  h4{
    color: #ffffff;
    font-weight: 500;
    margin-top: 6px;
    font-size: 18px;
  }
  .breadcrumb{
    margin-bottom: 0;
    padding: 0;
    background: transparent;
    li{
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      margin-left: 3px;
      a{
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        &:hover{
          color: $preset;
        }
      }
    }
    .active{
      color: $preset;
    }
  }
}
.text-semibold{
  font-weight: 500;
}
.card-title{
  font-size: 18px;
  font-weight: 500;
}
.progress {
    height: 6px;
}
.text-link:hover,
.text-link:focus {
  text-decoration: underline;
}
.text-opacity {
  opacity: 0.85;
}
.text-white {
  color: #ffffff !important;
}
.text-dark {
  color: #515365 !important;
}
.text-gray {
  color: #8a8a8a !important;
}
.text-secondary {
  color: #cacaca !important;
}
.text-primary {
  color: $preset !important;
}
.text-success {
  color: #24d5d8 !important;
}
.text-info {
  color: #00E676 !important;
}
.text-purple{
  color: #ab8ce4!important;
}
.text-warning {
  color: #fecd2f !important;
}
.text-danger {
  color: #fd3259 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-dark{
  background-color: #1b2942 !important;
}
.bg-gray {
  background-color: #fafafa !important;
}
.bg-primary {
  background-color: $preset !important;
}

.bg-success {
  background-color: #24d5d8 !important;
}
.bg-info {
  background-color: #00E676 !important;
}
.bg-purple{
  background-color: #ab8ce4!important;
}
.bg-warning {
  background-color: #fecd2f !important;
}
.bg-danger{
  background-color: #fd3259 !important;
}
.badge-primary{
  background-color: $preset !important;
}
.bg-black{
  background-color: #000;
}

/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0;
}
.p-20{
  padding: 20px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.m-0 {
  margin: 0;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-40 {
  margin-top: 40px;
}

.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.m-h-50 {
  min-height: 50px;
}
.l-h-34 {
  line-height: 34px;
}
.no-border {
  border: none;
}
.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.header-title {
  font-size: 16px;
}
hr{
  margin-top: 30px;
  margin-bottom: 30px;
}
$transition: all 0.3s ease-in-out;
@mixin pricing-box-shadow {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
  -moz-box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
  box-shadow: 0px 2px 10px 2px rgba(221,221,221,0.73);
}
@mixin icon-shadow {
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28)
}
@mixin team-box-shadow {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}
@mixin team-box-shadow-hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.46);
}
@mixin blog-box-shadow {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
}
@mixin button-shadow {
  box-shadow: 0 2px 2.7px 0.1px rgba(0, 0, 0, 0.24) !important;
}
@mixin button-shadow-hover {
  box-shadow: 0 4px 4.7px .3px rgba(0,0,0,.24) !important;
}

/* Preloader */
 #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}
.loader{
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}
#loader-1:before, #loader-1:after{
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: $preset;
}

#loader-1:before{
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after{
  border: 7px solid #fafafa;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//  Fade IN
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
