// Modals
.bs-example-modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}
.h-100vh {
    height: 100vh;
}
.error-container{
    width: 40%;
    background: #f1f1f1;
    padding: 40px;
    .error-number{
		font-size: 135px;
        color: $preset;
	    font-weight: 700;
	    line-height: 110px;
    }
    h2{
    	font-size: 32px;
    	font-weight: 400;
    }
}
.carousel-item{
    color: #fff;
}
.button-items {
  margin-bottom: -8px;

  .btn {
    margin-bottom: 8px;
    margin-right: 5px;
  }
}

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}
.icon-demo-content {
  text-align: center;
  color: #515365;
  i{
    display: block;
    font-size: 28px;
    margin-bottom: 5px;
  }

  .col-sm-6 {
    margin-bottom: 30px;

    &:hover {
      i {
        color: $preset;
      }
    }
  }
  .icon-wrapper{
    span{
      display: block;
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
}