@charset "UTF-8";
/*
Template Name: Inspire - Bootstrap 4 Admin Dashboard
Author: UIdeck
Website: www.uideck.com
File: Main Css File
*/
/*
* Legion Market v0.0.1
* Copyright 2018, Legion Market
* www.legionmarket.com
* Free to use under the GPLv3 license.
*/
/*
Roboto-Black
Roboto-BlackItalic
Roboto-Bold
Roboto-BoldItalic
Roboto-Italic
Roboto-Light
Roboto-LightItalic
Roboto-Medium
Roboto-MediumItalic
Roboto-Regular
Roboto-Thin
Roboto-ThinItalic
*/
@font-face {
  font-family: "Roboto-Black";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-Black.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-BlackItalic.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-Bold.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-BoldItalic.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-Italic.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-Light.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-LightItalic.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-Medium.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-MediumItalic.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-Regular.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-Thin.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("/packages/gcx_insp_scss/font/roboto/Roboto-ThinItalic.woff2") format("woff2"), url("/packages/gcx_insp_scss/font/roboto/Roboto-ThinItalic.ttf") format("truetype");
}
html {
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #515365;
  font-weight: normal;
  line-height: 1.5;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 12px;
}

a {
  color: #8a8a8a;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:hover {
  text-decoration: none;
  color: #e22a6f;
}
a a:focus {
  outline: none;
}

p {
  color: #8a8a8a;
  line-height: 1.8;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul li, ol li {
  list-style: none;
}

hr {
  border-top: 1px solid #e9eaec;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.breadcrumb-wrapper {
  margin-bottom: 20px;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.breadcrumb-wrapper h4 {
  color: #515365;
  font-weight: 500;
  margin-top: 6px;
  font-size: 18px;
}
.breadcrumb-wrapper .breadcrumb {
  margin-bottom: 0;
  padding: 0;
  background: transparent;
}
.breadcrumb-wrapper .breadcrumb li {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 3px;
}
.breadcrumb-wrapper .breadcrumb li a {
  text-decoration: none;
  color: #8a8a8a;
  cursor: pointer;
}
.breadcrumb-wrapper .breadcrumb li a:hover {
  color: #e22a6f;
}
.breadcrumb-wrapper .breadcrumb .active {
  color: #e22a6f;
}

.text-semibold {
  font-weight: 500;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
}

.progress {
  height: 6px;
}

.text-link:hover,
.text-link:focus {
  text-decoration: underline;
}

.text-opacity {
  opacity: 0.85;
}

.text-white {
  color: #ffffff !important;
}

.text-dark {
  color: #515365 !important;
}

.text-gray {
  color: #8a8a8a !important;
}

.text-secondary {
  color: #cacaca !important;
}

.text-primary {
  color: #e22a6f !important;
}

.text-success {
  color: #24d5d8 !important;
}

.text-info {
  color: #00E676 !important;
}

.text-purple {
  color: #ab8ce4 !important;
}

.text-warning {
  color: #fecd2f !important;
}

.text-danger {
  color: #fd3259 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.bg-dark {
  background-color: #515365 !important;
}

.bg-gray {
  background-color: #fafafa !important;
}

.bg-primary {
  background-color: #e22a6f !important;
}

.bg-success {
  background-color: #24d5d8 !important;
}

.bg-info {
  background-color: #00E676 !important;
}

.bg-purple {
  background-color: #ab8ce4 !important;
}

.bg-warning {
  background-color: #fecd2f !important;
}

.bg-danger {
  background-color: #fd3259 !important;
}

.badge-primary {
  background-color: #e22a6f !important;
}

/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0;
}

.p-20 {
  padding: 20px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-0 {
  margin: 0;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.w-xs {
  min-width: 80px;
}

.w-sm {
  min-width: 95px;
}

.w-md {
  min-width: 110px;
}

.w-lg {
  min-width: 140px;
}

.m-h-50 {
  min-height: 50px;
}

.l-h-34 {
  line-height: 34px;
}

.no-border {
  border: none;
}

.bx-shadow {
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 16px;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #e22a6f;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.header {
  display: block;
  height: 65px;
  width: 100%;
  position: fixed;
  padding: 0px;
  z-index: 1040;
  background-color: #ffffff;
  border-bottom: 1px solid #e9eaec;
  margin-bottom: 0px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.header .header-container .nav-logo {
  float: left;
  width: 270px;
}
.header .header-container .nav-logo a {
  color: #ffffff;
  font-size: 18px;
  padding-left: 0;
}
.header .header-container .nav-logo b {
  height: 60px;
  display: inline-block;
  width: 60px;
  line-height: 60px;
  text-align: center;
}
.header .header-container .nav-left, .header .header-container .nav-right {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
}
.header .header-container .nav-left > li, .header .header-container .nav-right > li {
  float: left;
}
.header .header-container .nav-left > li > a, .header .header-container .nav-right > li > a {
  padding: 0 6px;
  line-height: calc(65px - 3px);
  min-height: calc(65px - 3px);
  color: #8a8a8a;
  display: block;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
}
.header .header-container .nav-left > li > a i, .header .header-container .nav-right > li > a i {
  font-size: 18px;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  padding: 8px;
  color: #999;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.header .header-container .nav-left > li > a i:hover, .header .header-container .nav-left > li > a i:focus {
  text-decoration: none;
  background: #e22a6f;
  border-color: #e22a6f;
  color: #fff;
}
.header .header-container .nav-right > li > a i:hover, .header .header-container .nav-right > li > a i:focus {
  text-decoration: none;
  background: #e22a6f;
  border-color: #e22a6f;
  color: #fff;
}
.header .header-container .nav-left > li > a.dropdown-toggle:after, .header .header-container .nav-right > li > a.dropdown-toggle:after {
  display: none;
  border-radius: 0px;
}
.header .header-container .nav-left .user-profile .profile-img, .header .header-container .nav-right .user-profile .profile-img {
  width: 40px;
  border-radius: 50%;
  margin-top: 12px;
  float: left;
}
.header .header-container .nav-left .notifications,
.header .header-container .nav-right .notifications {
  position: relative;
}
.header .header-container .nav-left .notifications .counter,
.header .header-container .nav-right .notifications .counter {
  position: absolute;
  right: 4px;
  top: 7px;
  background-color: #6fd088;
  color: #ffffff;
  padding: 3px 5.5px;
  border-radius: 50px;
  line-height: 1;
  font-size: 10px;
}
.header .header-container .nav-left .massages .counter,
.header .header-container .nav-right .massages .counter {
  position: absolute;
  right: 4px;
  top: 7px;
  background-color: #fd3259;
  color: #ffffff;
  padding: 3px 5.5px;
  border-radius: 50px;
  line-height: 1;
  font-size: 10px;
}
.header .header-container .nav-left {
  float: left;
}
.header .header-container .nav-left .navbar-toggler {
  margin-top: 15px;
}
.header .header-container .nav-right {
  float: right;
  margin-right: 30px;
}

.dropdown-menu li a {
  line-height: 1.5;
  min-height: auto;
  padding: 10px 20px;
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  color: #8a8a8a;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus {
  color: #515365;
  text-decoration: none;
  background-color: #f7f7f8;
}

.notifications .n-title {
  padding: 10px 0;
}
.notifications .check-all {
  margin-top: 10px;
}

.user-profile li a i {
  margin-right: 5px;
}

.avatar-info {
  padding: 8px 20px;
}

.side-nav-dark .side-nav {
  background-color: #1a2942;
  color: #99abb4;
}
.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a {
  color: #99abb4;
}
.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:hover .title, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:hover .arrow, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder {
  color: #ffffff;
}
.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:focus .title, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:focus .arrow, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder {
  color: #ffffff;
}
.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .title, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .arrow, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .icon-holder {
  color: #ffffff;
}
.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu {
  background: #192532;
}
.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a:hover, .side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a:focus {
  color: #ffffff;
}
.side-nav-dark .side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li.active a {
  color: #ffffff;
}

.side-nav {
  width: 250px;
  background-color: #ffffff;
  z-index: 1000;
  top: 65px;
  bottom: 0px;
  position: fixed;
  overflow: hidden;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.side-nav .side-nav-inner {
  position: relative;
  height: 100%;
}
.side-nav .side-nav-inner .side-nav-menu {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 0;
  overflow: auto;
  height: calc(100vh - 65px);
  border-right: 1px solid #e9eaec;
}
.side-nav .side-nav-inner .side-nav-menu li {
  position: relative;
  display: block;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown .arrow {
  position: absolute;
  right: 30px;
  line-height: 26px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .icon-holder {
  color: #ffffff;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open a .arrow {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open .dropdown-menu {
  display: block;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open .dropdown-menu .dropdown-menu {
  padding-left: 20px;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown.open .dropdown-menu .arrow {
  line-height: 25px;
}
.side-nav .side-nav-inner .side-nav-menu li a {
  color: #8a8a8a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.side-nav .side-nav-inner .side-nav-menu li a:hover, .side-nav .side-nav-inner .side-nav-menu li a:focus {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.side-nav .side-nav-inner .side-nav-menu li a:hover .icon-holder, .side-nav .side-nav-inner .side-nav-menu li a:focus .icon-holder {
  color: #ffffff;
}
.side-nav .side-nav-inner .side-nav-menu li a.dropdown-toggle:after {
  display: none;
  border-radius: 0px;
}
.side-nav .side-nav-inner .side-nav-menu li.side-nav-header {
  text-transform: uppercase;
  font-size: 12px;
  padding: 15px 20px;
  opacity: 0.7;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu {
  position: relative;
  width: 100%;
  box-shadow: none;
  border: 0px;
  border-radius: 0;
  padding-left: 50px;
  padding-top: 0px;
  background-color: transparent;
  float: none;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a {
  padding: 10px 15px;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a:hover, .side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li a:focus {
  background-color: transparent;
  color: #515365;
}
.side-nav .side-nav-inner .side-nav-menu li.dropdown ul.dropdown-menu li.active a {
  color: #515365;
}
.side-nav .side-nav-inner .side-nav-menu li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
}
.side-nav .side-nav-inner .side-nav-menu li a .icon-holder {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  position: relative;
  left: 0;
  font-size: 20px;
  margin-right: 14px;
}
.side-nav .side-nav-inner .side-nav-menu li a .icon-holder i {
  vertical-align: middle;
}

.side-nav .side-nav-inner .side-nav-menu li.dropdown.open > a {
  color: #fff;
  background: #e22a6f;
}

.side-nav .side-nav-inner .side-nav-menu li a:hover,
.side-nav .side-nav-inner .side-nav-menu li a:focus {
  color: #fff;
  background: #e22a6f;
}

.side-nav-folded .side-nav {
  width: 65px;
}
.side-nav-folded .side-nav .side-nav-menu {
  overflow-x: hidden;
}
.side-nav-folded .side-nav .side-nav-menu li a {
  padding-left: 20px;
}
.side-nav-folded .side-nav .side-nav-menu li a .title {
  display: none;
}
.side-nav-folded .side-nav .side-nav-menu li a .icon-holder i {
  font-size: 20px;
}
.side-nav-folded .side-nav .side-nav-menu li .dropdown .arrow {
  opacity: 0;
}
.side-nav-folded .side-nav .side-nav-menu li.side-nav-header {
  display: none;
}

.side-nav-folded .header .header-container .nav-logo {
  width: 70px;
  padding: 0px;
}
.side-nav-folded .header .header-container .nav-logo a .logo {
  width: 70px;
  display: none;
}
.side-nav-folded .header .nav-left > li > a.sidenav-fold-toggler i:before {
  content: "";
}

@media only screen and (min-width: 992px) {
  .side-nav-folded .side-nav .side-nav-inner .side-nav-menu > li.side-nav-header {
    display: none;
  }
  .side-nav-folded .side-nav .side-nav-inner .side-nav-menu > li > a {
    padding-left: 20px;
  }
  .side-nav-folded .side-nav .side-nav-inner .side-nav-menu > li > a .title {
    display: none;
  }
  .side-nav-folded .side-nav .side-nav-inner .side-nav-menu li.dropdown .arrow {
    opacity: 0;
  }
  .side-nav-folded .side-nav .side-nav-inner .side-nav-menu li.dropdown.open ul.dropdown-menu {
    display: none !important;
  }
  .side-nav-folded .side-nav:hover {
    width: 250px;
  }
  .side-nav-folded .side-nav:hover .side-nav-inner .side-nav-menu > li .side-nav-header {
    display: block;
  }
  .side-nav-folded .side-nav:hover .side-nav-inner .side-nav-menu > li > a .title {
    display: inline-block;
  }
  .side-nav-folded .side-nav:hover .side-nav-inner .side-nav-menu li.dropdown .arrow {
    opacity: 1;
  }
  .side-nav-folded .side-nav:hover .side-nav-inner .side-nav-menu li.open > ul.dropdown-menu {
    display: block !important;
  }
}
@media only screen and (min-width: 767px) {
  .header .header-container .nav-left > li > a.sidenav-fold-toggler,
.header .header-container .nav-right > li > a.sidenav-fold-toggler {
    display: block;
  }

  .header .header-container .nav-left > li > a.sidenav-expand-toggler,
.header .header-container .nav-right > li > a.sidenav-expand-toggler {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header .header-container .nav-left > li > a.sidenav-fold-toggler,
.header .header-container .nav-right > li > a.sidenav-fold-toggler {
    display: none;
  }

  .header .header-container .nav-left > li > a.sidenav-expand-toggler,
.header .header-container .nav-right > li > a.sidenav-expand-toggler {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .side-nav-folded .side-nav {
    left: -250px;
  }
}
@media only screen and (min-width: 992px) {
  .side-nav-folded .page-container {
    padding-left: 65px;
  }
}
@media only screen and (max-width: 992px) {
  .side-nav-folded .page-container {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .side-nav-folded .header .header-container .nav-logo {
    width: 0px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .side-nav-expand {
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .side-nav-expand .side-nav {
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .side-nav-expand .header .header-container .nav-logo {
    width: 0px;
  }
  .side-nav-expand .header .header-container .nav-left > li > a.sidenav-expand-toggler i:before {
    content: "";
  }
}
.dropdown.dropdown-animated:not(.scale-left) .dropdown-menu, .dropdown.dropdown-animated:not(.scale-right) .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(15px) !important;
  -moz-transform: translateY(15px) !important;
  -ms-transform: translateY(15px) !important;
  transform: translateY(15px) !important;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: block;
  margin: 0px;
  top: auto !important;
}
.dropdown.dropdown-animated:not(.scale-left) .dropdown-menu.show, .dropdown.dropdown-animated:not(.scale-right) .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px) !important;
  -moz-transform: translateY(0px) !important;
  -ms-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
}
.dropdown.dropdown-animated.scale-left .dropdown-menu {
  -webkit-transform-origin: top right !important;
  -moz-transform-origin: top right !important;
  -ms-transform-origin: top right !important;
  transform-origin: top right !important;
  transform: scale(0, 0) !important;
  -webkit-transform: scale(0, 0) !important;
  -moz-transform: scale(0, 0) !important;
  -ms-transform: scale(0, 0) !important;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: block;
  margin: 0px;
  right: 0 !important;
  left: auto !important;
  top: auto !important;
}
.dropdown.dropdown-animated.scale-left .dropdown-menu.show {
  transform: scale(1, 1) !important;
  -webkit-transform: scale(1, 1) !important;
  -moz-transform: scale(1, 1) !important;
  -ms-transform: scale(1, 1) !important;
}
.dropdown.dropdown-animated.scale-right .dropdown-menu {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transform: scale(0, 0) !important;
  -webkit-transform: scale(0, 0) !important;
  -moz-transform: scale(0, 0) !important;
  -ms-transform: scale(0, 0) !important;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: block;
  margin: 0px;
  top: auto !important;
}
.dropdown.dropdown-animated.scale-right .dropdown-menu.show {
  transform: scale(1, 1) !important;
  -webkit-transform: scale(1, 1) !important;
  -moz-transform: scale(1, 1) !important;
  -ms-transform: scale(1, 1) !important;
}

.dropdown-menu {
  border: 0px;
  border-radius: 0px;
  font-size: 14px;
  min-width: 180px;
  color: #8a8a8a;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  top: 100%;
}
.dropdown-menu.dropdown-md {
  min-width: 250px;
}
.dropdown-menu.dropdown-lg {
  min-width: 300px;
}
.dropdown-menu.dropdown-xl {
  min-width: 450px;
}

.dropdown-item {
  line-height: 1.5;
  min-height: auto;
  padding: 10px 20px;
  display: block;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  color: #8a8a8a;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #515365;
  text-decoration: none;
  background-color: #f7f7f8;
}
.dropdown-item.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.dropdown-item.disabled:hover, .dropdown-item.disabled:focus {
  background-color: transparent;
}
.dropdown-item.active {
  background-color: #f7f7f8;
  color: #515365;
}

.dropdown-toggle:after {
  text-align: center;
  display: inline;
  border: 0;
  font-size: 13px;
  font-family: "LineIcons";
  content: "";
  line-height: 0;
  vertical-align: middle;
  position: relative;
}

.dropdown-header {
  padding: 10px 20px;
  font-weight: 500;
  color: #717171;
  font-size: 15px;
}

.dropdown, .dropup {
  display: inline-block;
}

.table {
  margin-bottom: 0px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  line-height: 1.8;
  border-color: #e9eaec;
}

.table.table-dark thead th {
  color: #fff;
}

.table-sm > tbody > tr > td,
.table-sm > tbody > tr > th,
.table-sm > tfoot > tr > td,
.table-sm > tfoot > tr > th,
.table-sm > thead > tr > td.table-sm > thead > tr > th {
  padding: 7.5px;
}

.table-hover tbody tr:hover {
  background-color: #f7f7f7;
}

.table-lg > tbody > tr > td,
.table-lg > tbody > tr > th,
.table-lg > tfoot > tr > td,
.table-lg > tfoot > tr > th,
.table-lg > thead > tr > td,
.table-lg > thead > tr > th {
  padding: 15px;
}

.table-xl > tbody > tr > td,
.table-xl > tbody > tr > th,
.table-xl > tfoot > tr > td,
.table-xl > tfoot > tr > th,
.table-xl > thead > tr > td,
.table-xl > thead > tr > th {
  padding: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fbfbfb;
}

.table-hover > tbody > tr:hover {
  background-color: #fafafa;
}

.table-bordered {
  border: 1px solid #e9eaec;
}

.table > thead > tr > th {
  color: #717171;
  border-bottom: 1px solid #e9eaec;
}

.table .thead-dark th {
  background-color: #515365;
  border-color: #515365;
}

.table .thead-light th {
  background-color: #fafafa;
  border-color: #e9eaec;
  color: #717171;
}

.table th,
.table td {
  vertical-align: middle;
}

.table tr.selected {
  background-color: #fafafa;
}

.table-overflow {
  width: 100%;
  overflow-x: auto;
}
.table-overflow .title {
  line-height: 40px;
}

.arrow-none:after {
  display: none;
}

#datatable_length .form-control-sm {
  padding: 0px !important;
}

.page-item.active .page-link {
  background-color: #e22a6f;
  border-color: #e22a6f;
}

.page-link:focus {
  box-shadow: none;
}

.page-link {
  color: #e22a6f;
}

.badge-outline-success {
  color: #70c89a;
  border: 1px solid #70c89a;
}

.badge-outline-info {
  color: #007bff;
  border: 1px solid #007bff;
}

.badge-outline-danger {
  color: #ee8a97;
  border: 1px solid #ee8a97;
}

.badge-outline-warning {
  color: #f1b863;
  border: 1px solid #f1b863;
}

.badge {
  font-size: 12px;
  line-height: 1;
  padding: 5px 10px;
  font-weight: 500;
}

.page-container {
  min-height: 100vh;
  padding-left: 250px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}
.page-container .main-content {
  padding: calc(50px + 35px) 15px 15px 15px;
  min-height: calc(100vh - 65px);
  background: #f1f2f7;
  width: 100%;
  flex-grow: 1;
}
.page-container .main-content .full-container {
  padding: 0px;
  padding-top: 95px;
}

/* Card group */
.card-group {
  margin-bottom: 20px;
}
.card-group .card {
  border-right: 1px solid #e9ecef;
}
.card-group .card .icon {
  font-size: 30px;
  margin-bottom: 10px;
}
.card-group .card p {
  font-weight: 700;
  font-size: 14px;
}
.card-group .card .counter {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
}
.card-group .align-items-center {
  align-items: center !important;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
}

.card-title {
  color: #515365;
  margin-top: 0px;
  margin-bottom: 15px;
}

.card {
  position: relative;
  background-color: #ffffff;
  margin-bottom: 30px;
  border: 1px solid #e9eaec;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.card.card-shadow {
  -webkit-box-shadow: 0 7px 20px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 7px 20px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 20px 2px rgba(0, 0, 0, 0.2);
}

.card-header {
  padding: 15px 25px;
  position: relative;
  background-color: transparent;
  border-bottom: 0px;
  min-height: 55px;
}
.card-header .card-title {
  margin-bottom: 0px;
  display: inline-block;
}
.card-header .card-title p {
  padding-top: 8px;
  margin-bottom: 0px;
}

.card-header:first-child {
  border-radius: 0px;
}

.card-body {
  padding: 20px;
  position: relative;
}

.card-toolbar {
  float: right;
}
.card-toolbar ul {
  list-style: none;
  padding-left: 0px;
}
.card-toolbar ul li {
  display: inline-block;
}
.card-toolbar ul li a, .card-toolbar ul li .btn {
  margin-bottom: 0px;
  margin-right: 10px;
  display: block;
}
.card-toolbar ul li .btn {
  padding: 7px 15px;
  font-size: 13px;
}

.info-box {
  min-height: 100px;
  background: #fff;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}
.info-box .icon-box {
  float: left;
  text-align: center;
  font-size: 38px;
  line-height: 60px;
  color: #fff;
}
.info-box .info-box-content {
  margin-left: 60px;
}
.info-box .info-box-content .number {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
}
.info-box .info-box-content .info-text {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
}

.stretch-card .card-body {
  padding: 22px;
}
.stretch-card .card-body .sales-info {
  display: flex !important;
}
.stretch-card .card-body .sales-info h3 {
  font-size: 22px;
}
.stretch-card .card-body .sales-info span {
  margin-left: auto !important;
}
.stretch-card .card-body p {
  margin-top: 10px;
  margin-bottom: 0;
}

.follow .client-item {
  padding: 15px 20px;
  border-top: 1px solid #f1f1f1;
}
.follow .client-item .title {
  line-height: 40px;
}
.follow .btn {
  padding: 5px 17px;
}

.coming-event .img-thumb {
  margin-right: 20px;
}
.coming-event .event-item {
  padding: 0px 20px;
}
.coming-event .event-item li {
  margin-bottom: 38px;
}
.coming-event .text .text-link {
  font-size: 16px;
  color: #515365;
  font-weight: 500;
}
.coming-event .text .day {
  margin-bottom: 0;
  font-size: 13px;
}
.coming-event .text p {
  margin-bottom: 0;
}

.list-media {
  margin-bottom: 0px;
  display: block;
  position: relative;
  padding-left: 0;
  list-style: none;
}
.list-media .list-item {
  display: block;
}
.list-media .list-item a {
  display: block;
  position: relative;
}
.list-media .list-item a:hover, .list-media .list-item a:focus {
  text-decoration: none;
}
.list-media .list-item .active {
  background-color: #fafafa;
}
.list-media .list-item .media-hover:hover, .list-media .list-item .media-hover:focus {
  text-decoration: none;
  background-color: #fafafa;
}
.list-media .media-img {
  position: relative;
  float: left;
}
.list-media .media-img img, .list-media .media-img .icon-avatar {
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 17px;
  border-radius: 50px;
  color: #ffffff;
}
.list-media .media-img .status {
  right: 0px;
  bottom: 0px;
  position: absolute;
  left: auto;
  top: auto;
}
.list-media .media-img .status:before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 15px;
  height: 14px;
  bottom: -5px;
  right: -6px;
  border-radius: 50px;
  border: 2px solid #ffffff;
}
.list-media .info {
  padding-left: 55px;
  min-height: 40px;
  height: auto;
  position: relative;
}
.list-media .info .title {
  display: block;
  color: #515365;
}
.list-media .info .sub-title {
  display: block;
  font-size: 12.5px;
  color: #adadad;
  color: rgba(138, 138, 138, 0.7);
  max-width: 90%;
}
.list-media .info .float-item {
  position: absolute;
  right: 0px;
  color: #8a8a8a;
  top: 50%;
  font-size: 12px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.list-media .info.status {
  padding-left: 0px;
  min-height: auto;
  height: 10px;
  position: absolute;
}

.list-inline li {
  display: inline-block;
  margin-right: 10px;
}

.properties .list-media .list-item {
  margin-bottom: 20px;
}
.properties .title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}
.properties .title a {
  color: #515365;
}
.properties .title a:hover {
  color: #e22a6f;
}

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.h-100vh {
  height: 100vh;
}

.error-container {
  width: 40%;
  background: #f1f1f1;
  padding: 40px;
}
.error-container .error-number {
  font-size: 135px;
  color: #e22a6f;
  font-weight: 700;
  line-height: 110px;
}
.error-container h2 {
  font-size: 32px;
  font-weight: 400;
}

.carousel-item {
  color: #fff;
}

.button-items {
  margin-bottom: -8px;
}
.button-items .btn {
  margin-bottom: 8px;
  margin-right: 5px;
}

.bs-example-modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.icon-demo-content {
  text-align: center;
  color: #515365;
}
.icon-demo-content i {
  display: block;
  font-size: 28px;
  margin-bottom: 5px;
}
.icon-demo-content .col-sm-6 {
  margin-bottom: 30px;
}
.icon-demo-content .col-sm-6:hover i {
  color: #e22a6f;
}
.icon-demo-content .icon-wrapper span {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.btn {
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  background-color: #e22a6f;
  position: relative;
  z-index: 1;
  color: #fff;
}
.btn-common:hover {
  background: #101010;
  color: #fff;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.btn-default {
  color: #515365;
  background-color: transparent;
  border-color: #dbdde0;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 14px;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #e22a6f;
}

.btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
}

.main-button .btn {
  padding: 10px 30px;
  margin: 5px 0;
}

.btn-rounded {
  border-radius: 30px;
}

/* inverse buttons */
.btn-inverse-primary {
  background-color: rgba(109, 149, 231, 0.2);
  background-image: none;
  border-color: rgba(109, 149, 231, 0);
}

.btn-inverse-primary:not(.btn-inverse-light) {
  color: #6d95e7;
}

.btn-inverse-primary:hover {
  color: #ffffff;
  background-color: #6d95e7;
  border-color: #6d95e7;
}

.btn-inverse-success:not(.btn-inverse-light) {
  color: #70c89a;
}

.btn-inverse-success:hover {
  color: #ffffff;
  background-color: #70c89a;
  border-color: #70c89a;
}

.btn-inverse-success.disabled, .btn-inverse-success:disabled {
  color: #70c89a;
  background-color: transparent;
}

.btn-inverse-secondary {
  background-color: rgba(216, 216, 216, 0.2);
  background-image: none;
  border-color: rgba(216, 216, 216, 0);
}

.btn-inverse-secondary:not(.btn-inverse-light) {
  color: #d8d8d8;
}

.btn-inverse-secondary:hover {
  color: #ffffff;
  background-color: #d8d8d8;
  border-color: #d8d8d8;
}

.btn-inverse-secondary.disabled, .btn-inverse-secondary:disabled {
  color: #d8d8d8;
  background-color: transparent;
}

.btn-inverse-success {
  background-color: rgba(112, 200, 154, 0.2);
  background-image: none;
  border-color: rgba(112, 200, 154, 0);
}

.btn-inverse-info {
  background-color: rgba(184, 126, 243, 0.2);
  background-image: none;
  border-color: rgba(184, 126, 243, 0);
}

.btn-inverse-info:not(.btn-inverse-light) {
  color: #b87ef3;
}

.btn-inverse-info:hover {
  color: #ffffff;
  background-color: #b87ef3;
  border-color: #b87ef3;
}

.btn-inverse-info.disabled, .btn-inverse-info:disabled {
  color: #b87ef3;
  background-color: transparent;
}

.btn-inverse-warning {
  background-color: rgba(241, 184, 99, 0.2);
  background-image: none;
  border-color: rgba(241, 184, 99, 0);
}

.btn-inverse-warning:not(.btn-inverse-light) {
  color: #f1b863;
}

.btn-inverse-warning:hover {
  color: #ffffff;
  background-color: #f1b863;
  border-color: #f1b863;
}

.btn-inverse-warning.disabled, .btn-inverse-warning:disabled {
  color: #f1b863;
  background-color: transparent;
}

.btn-inverse-danger {
  background-color: rgba(238, 138, 151, 0.2);
  background-image: none;
  border-color: rgba(238, 138, 151, 0);
}

.btn-inverse-danger:not(.btn-inverse-light) {
  color: #ee8a97;
}

.btn-inverse-danger:hover {
  color: #ffffff;
  background-color: #ee8a97;
  border-color: #ee8a97;
}

.btn-inverse-danger.focus, .btn-inverse-danger:focus {
  box-shadow: 0 0 0 3px rgba(238, 138, 151, 0.5);
}

.btn-inverse-danger.disabled, .btn-inverse-danger:disabled {
  color: #ee8a97;
  background-color: transparent;
}

.btn-inverse-light {
  background-color: rgba(248, 249, 250, 0.2);
  background-image: none;
  border-color: rgba(248, 249, 250, 0);
}

.btn-inverse-light:not(.btn-inverse-light) {
  color: #f8f9fa;
}

.btn-inverse-light:hover {
  color: #ffffff;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-inverse-light.disabled, .btn-inverse-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-inverse-dark {
  background-color: rgba(48, 46, 46, 0.2);
  background-image: none;
  border-color: rgba(48, 46, 46, 0);
}

.btn-inverse-dark:not(.btn-inverse-light) {
  color: #302e2e;
}

.btn-inverse-dark:hover {
  color: #ffffff;
  background-color: #302e2e;
  border-color: #302e2e;
}

.btn-inverse-dark.focus, .btn-inverse-dark:focus {
  box-shadow: 0 0 0 3px rgba(48, 46, 46, 0.5);
}

.btn-inverse-dark.disabled, .btn-inverse-dark:disabled {
  color: #302e2e;
  background-color: transparent;
}

.progress {
  height: 6px;
  background-color: #ececec;
  border-radius: 50px;
  margin-bottom: 20px;
}

.progress.progress-sm {
  height: 4px;
}

.progress.progress-lg {
  height: 12px;
  border-radius: 4px;
}

.progress.progress-lg.progress-bar:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.progress.progress-xl {
  height: 20 px;
  border-radius: 4px;
}

.progress.progress-xl.progress-bar:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.progress-bar {
  background-color: #e22a6f;
}

.progress-bar:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.chat-main-box .form-material {
  border-bottom: 1px solid #e9ecef;
}
.chat-main-box .form-material .form-control {
  border: none;
  padding: 10px 20px;
}
.chat-main-box .form-material .form-control:focus {
  box-shadow: none;
}
.chat-main-box .chat-left-aside {
  position: relative;
  width: 250px;
  float: left;
  z-index: 9;
  top: 0px;
}
.chat-main-box .chat-left-aside .chatonline {
  padding: 0;
}
.chat-main-box .chat-left-aside .chatonline li a {
  padding: 20px;
  float: left;
  width: 100%;
}
.chat-main-box .chat-left-aside .chatonline li a img {
  margin-right: 10px;
  float: left;
  width: 30px;
}
.chat-main-box .chat-left-aside .chatonline li a span {
  color: #212529;
}
.chat-main-box .chat-left-aside .chatonline li a:hover,
.chat-main-box .chat-left-aside .chatonline li a.active {
  background: #f8f9fa;
}
.chat-main-box .chat-right-aside {
  width: calc(100% - 250px);
  float: left;
  border-left: 1px solid #e9ecef;
}
.chat-main-box .chat-right-aside .box-title {
  font-size: 18px;
}
.chat-main-box .chat-right-aside .chat-list {
  max-height: none;
  height: 100%;
  padding-top: 40px;
}
.chat-main-box .chat-right-aside .chat-list li {
  list-style: none;
  margin-top: 20px;
}
.chat-main-box .chat-right-aside .chat-list li .chat-img {
  display: inline-block;
  width: 45px;
  vertical-align: top;
}
.chat-main-box .chat-right-aside .chat-list li .chat-img img {
  width: 45px;
  border-radius: 100%;
}
.chat-main-box .chat-right-aside .chat-list li .chat-content {
  width: calc(100% - 50px);
  display: inline-block;
  padding-left: 15px;
}
.chat-main-box .chat-right-aside .chat-list li .chat-content h5 {
  font-size: 16px;
  color: #6c757d;
}
.chat-main-box .chat-right-aside .chat-list li .chat-content .box {
  display: inline-block;
  color: #343a40;
  padding: 3px 10px;
  background: #f8f9fa;
}
.chat-main-box .chat-right-aside .chat-list li .chat-content .chat-time {
  display: block;
  text-align: left;
  font-size: 10px;
  color: #6c757d;
  margin: 5px 0 15px 65px;
}
.chat-main-box .chat-right-aside .chat-list li.reverse {
  text-align: right;
}
.chat-main-box .chat-right-aside .chat-list li.reverse .chat-content {
  padding-right: 15px;
}
.chat-main-box .chat-right-aside .chat-list li.reverse .chat-time {
  margin-right: auto;
  text-align: right;
}

.fc-event {
  border-radius: 2px;
  border: none;
  cursor: move;
  font-size: 13px;
  margin: 5px 0;
  padding: 5px 5px;
  text-align: center;
  background-color: #e22a6f;
  color: #ffffff !important;
}

.calendar {
  float: left;
  margin-bottom: 0;
}

.none-border .modal-footer {
  border-top: none;
}

.fc-toolbar {
  margin-bottom: 5px;
}
.fc-toolbar h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

.fc-day {
  background: #ffffff;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active,
.fc-toolbar button:focus, .fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
  z-index: 0;
}

.fc-widget-header {
  border: 1px solid #d5d5d5;
  background-color: #f1f1f1;
}

.fc-widget-content {
  border: 1px solid #d5d5d5;
}

.fc th.fc-widget-header {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.fc-button {
  background: #ffffff;
  border: 1px solid #d5d5d5;
  color: #555555;
  text-transform: capitalize;
}

.fc-text-arrow {
  font-family: arial;
  font-size: 16px;
}

.fc-state-hover {
  background: #f1f1f1;
}

.fc-state-highlight {
  background: #f0f0f0;
}

.fc-cell-overlay {
  background: #f0f0f0;
}

.fc-unthemed .fc-today {
  background: #ffffff;
}

.external-event {
  color: #ffffff;
  cursor: move;
  margin: 10px 0;
  padding: 6px 10px;
}

.fc-basic-view td.fc-week-number span {
  padding-right: 5px;
}
.fc-basic-view td.fc-day-number {
  padding-right: 5px;
}

.mail-list {
  background: #fff;
}
.mail-list .list-group-item {
  color: #8a8a8a;
  border: none;
}
.mail-list .list-group-item:hover {
  background: #f8f9fa;
}

.mail-content a {
  color: #8a8a8a;
}

.card .showing {
  line-height: 50px;
  margin-bottom: 0;
}

.thumb-sm {
  height: 32px;
  width: 32px;
}

.nav-tabs {
  border-bottom: 1px solid #e9eaec;
}
.nav-tabs > li {
  margin-bottom: -2px;
}
.nav-tabs > li > a {
  margin-right: 0px;
  line-height: 2.5;
  border-radius: 0;
  color: #515365;
  opacity: 0.75;
  border: 0px;
  border-bottom: 2px solid transparent;
  display: block;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
  background-color: transparent;
  opacity: 1;
}
.nav-tabs > li > a:focus {
  background-color: transparent;
  opacity: 1;
}
.nav-tabs > li > a.active {
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #e22a6f;
  opacity: 1;
}
.nav-tabs > li > a.active:hover, .nav-tabs > li > a.active:focus {
  border: 0px;
  background-color: transparent;
  border-bottom: 2px solid #e22a6f;
  opacity: 1;
}
.nav-tabs > li > a.active.nav-link {
  border-bottom: 2px solid #e22a6f;
  color: #515365;
  background-color: transparent;
}
.nav-tabs .nav-link {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:active {
  border-color: transparent;
}

.tab-success .nav-tabs > li > a.active {
  border-bottom: 2px solid #24d5d8;
}
.tab-success .nav-tabs > li > a.active:hover, .tab-success .nav-tabs > li > a.active:focus {
  border-bottom: 2px solid #24d5d8;
}

.tab-info .nav-tabs > li > a.active {
  border-bottom: 2px solid #04a1f4;
}
.tab-info .nav-tabs > li > a.active:hover, .tab-info .nav-tabs > li > a.active:focus {
  border-bottom: 2px solid #04a1f4;
}

.tab-warning .nav-tabs > li > a.active {
  border-bottom: 2px solid #fecd2f;
}
.tab-warning .nav-tabs > li > a.active:hover, .tab-warning .nav-tabs > li > a.active:focus {
  border-bottom: 2px solid #fecd2f;
}

.tab-danger .nav-tabs > li > a.active {
  border-bottom: 2px solid #fd3259;
}
.tab-danger .nav-tabs > li > a.active:hover, .tab-danger .nav-tabs > li > a.active:focus {
  border-bottom: 2px solid #fd3259;
}

.center-tabs .nav-tabs {
  text-align: center;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.center-tabs .nav-tabs > li {
  float: none;
  display: inline-block;
}

.justified-tabs .nav-tabs {
  width: 100%;
}
.justified-tabs .nav-tabs > li {
  display: table-cell;
  width: 1%;
  text-align: center;
  float: none;
}

.nav-pills > li + li {
  margin-left: 5px;
}
.nav-pills > li > a {
  border-radius: 3px;
  opacity: 0.75;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: #515365;
  border: 1px solid transparent;
  padding: 5px 15px;
}
.nav-pills > li > a:hover, .nav-pills > li > a:focus {
  background-color: transparent;
  opacity: 1;
}
.nav-pills > li > a.active {
  color: #ffffff;
  border-color: #e22a6f;
  background-color: #e22a6f;
  border: 1px solid #e22a6f;
  opacity: 1;
}
.nav-pills > li > a.active:hover, .nav-pills > li > a.active:focus {
  color: #ffffff;
  border-color: #e22a6f;
  background-color: #e22a6f;
  border: 1px solid #e22a6f;
  opacity: 1;
}
.nav-pills > li > a.active.nav-link {
  color: #ffffff;
  background-color: #e22a6f;
  border-color: #e22a6f;
}

.nav-vertical .nav-pills {
  float: left;
  width: 160px;
  padding: 0px 15px;
  display: block;
}
.nav-vertical .nav-pills > li {
  margin-bottom: 15px;
}
.nav-vertical .nav-pills > li + li {
  margin-left: 0px;
}
.nav-vertical .tab-content {
  float: left;
  width: 70%;
}

.pill-success .nav-pills > li > a.active {
  border-color: #24d5d8;
  background-color: #24d5d8;
  border: 1px solid #24d5d8;
}
.pill-success .nav-pills > li > a.active:hover, .pill-success .nav-pills > li > a.active:focus {
  border-color: #24d5d8;
  background-color: #24d5d8;
  border: 1px solid #24d5d8;
}
.pill-success .nav-pills > li > a.active.nav-link {
  color: #ffffff;
  border-color: #24d5d8;
}

.pill-info .nav-pills > li > a.active {
  border-color: #04a1f4;
  background-color: #04a1f4;
  border: 1px solid #04a1f4;
}
.pill-info .nav-pills > li > a.active:hover, .pill-info .nav-pills > li > a.active:focus {
  border-color: #04a1f4;
  background-color: #04a1f4;
  border: 1px solid #04a1f4;
}
.pill-info .nav-pills > li > a.active.nav-link {
  color: #ffffff;
  border-color: #04a1f4;
}

.pill-warning .nav-pills > li > a.active {
  border-color: #fecd2f;
  background-color: #fecd2f;
  border: 1px solid #fecd2f;
}
.pill-warning .nav-pills > li > a.active:hover, .pill-warning .nav-pills > li > a.active:focus {
  border-color: #fecd2f;
  background-color: #fecd2f;
  border: 1px solid #fecd2f;
}
.pill-warning .nav-pills > li > a.active.nav-link {
  color: #ffffff;
  border-color: #fecd2f;
}

.pill-danger .nav-pills > li > a.active {
  border-color: #fd3259;
  background-color: #fd3259;
  border: 1px solid #fd3259;
}
.pill-danger .nav-pills > li > a.active:hover, .pill-danger .nav-pills > li > a.active:focus {
  border-color: #fd3259;
  background-color: #fd3259;
  border: 1px solid #fd3259;
}
.pill-danger .nav-pills > li > a.active.nav-link {
  color: #ffffff;
  border-color: #fd3259;
}

.list-group-item.active {
  background-color: #e22a6f !important;
  border-color: #e22a6f !important;
}

/*----------------------------------------
 Accordion
----------------------------------------*/
.accordion .card {
  margin-bottom: 15px;
}
.accordion .card .card-header {
  padding: 0px;
}
.accordion .card .card-header .card-title a {
  padding: 15px 25px;
  display: block;
  color: #515365;
}
.accordion .card .card-header .card-title a:not(.collapsed):after {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.accordion .card .card-header .card-title a:after {
  content: "";
  font-family: "Material Design Icons";
  float: left;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.accordion .card .card-body {
  padding-top: 5px;
}
.accordion.nested > .card {
  margin-bottom: 0px;
  border-bottom: 0px;
}
.accordion.nested > .card:last-child {
  border-bottom: 1px solid #e9eaec;
}
.accordion.borderless > .card {
  margin-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.accordion.borderless > .card:last-child {
  border-bottom: 0px;
}

.faq .card-header h5 {
  margin-bottom: 0;
}
.faq .card-header h5 a {
  color: #515365;
}

.profile-bg {
  background: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.profile-bg .user-profile .profile-body {
  padding: 0 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.profile-bg .user-profile .profile-body .profile-user-avatar {
  margin-top: -5.71429em;
}
.profile-bg .user-profile .profile-body .profile-user-avatar img {
  border-radius: 100px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.profile-bg .user-profile .profile-body .profile-user-name {
  font-size: 22px;
  margin-top: 10px;
}
.profile-bg .user-profile .profile-body .profile-user-address {
  color: #888;
}
.profile-bg .user-profile .profile-body .profile-user-description {
  margin-top: 20px;
}

.forms-profile {
  padding: 10px 15px;
}

.timeline-view .box-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.timeline-entry .card {
  margin-left: 60px !important;
  margin-right: 0;
  margin-bottom: 10px;
}
.timeline-entry .card .card-body {
  background-color: #f4f8fb;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.timeline-view #activity .timeline li {
  position: relative;
  display: block;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-view #activity .timeline:before {
  top: 44px;
  bottom: 0;
  position: absolute;
  content: " ";
  background-color: #f1f6fa;
  left: 35px;
  width: 2px;
  margin-left: -1px;
}

.timeline-view #activity .timeline li .timeline-circle {
  position: absolute;
  line-height: 38px;
  background: #f4f8fb;
  top: 24px;
  width: 40px;
  height: 40px;
  margin-left: 0;
  font-size: 18px;
}
.timeline-view #activity .timeline li .timeline-circle i {
  vertical-align: middle;
}

.timeline-view #activity .timeline li .timeline-entry .card img.rounded-circle {
  width: 40px;
  left: 10px;
  margin-right: 10px;
}

.timeline-view #activity .timeline li .timeline-entry .card .card-body.timeline-entry-content:before {
  content: "";
  position: absolute;
  top: 30px;
  left: -14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 14px 0;
  border-color: transparent #f4f8fb transparent transparent;
}

.form-control {
  width: 100%;
  font-size: 14px;
  box-shadow: none;
  color: #8a8a8a;
  background: #ffffff;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: #e22a6f !important;
}

.search-box {
  margin-right: 20px;
  position: relative;
}
.search-box .form-control {
  border: 1px solid #f1f1f1;
  box-shadow: none;
  outline: none;
  height: 40px;
  margin-top: 12px;
  padding: 5px 20px;
  font-size: 14px;
  width: 250px;
  border-radius: 30px;
}
.search-box i {
  position: absolute;
  top: 24px;
  right: 15px;
  cursor: pointer;
}
.search-box i:hover {
  color: #e22a6f;
}

.wrapper-page {
  margin: 7.5% auto;
  position: relative;
}

.gmaps, .gmaps-panaroma {
  height: 300px;
  background: #fff;
}

.mce-panel {
  border-color: #e5e5e5 !important;
  background-color: #ffffff !important;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
  background: #ffffff;
}

.box-title {
  font-size: 18px;
  margin-bottom: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e22a6f !important;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e22a6f !important;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(30px + 2px);
  padding: 0px 40px 0px 10px;
  line-height: 1.5;
  color: #4f5467;
  vertical-align: middle;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  position: relative;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selected::after {
  top: 0;
  right: 15px;
  z-index: 2;
  color: #666;
  display: block;
  content: "";
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 35px;
  font-family: "LineIcons";
}

.selected {
  position: relative;
}

.content-footer {
  padding: 0px 30px;
}
.content-footer .footer {
  padding: 20px 0;
  font-size: 14px;
  border-top: 1px solid #e9eaec;
}
.content-footer .footer .go-right {
  float: right;
}

@media only screen and (max-width: 767px) {
  .content-footer .footer {
    text-align: center;
  }

  .content-footer .footer .go-right {
    float: none;
    margin-top: 15px;
    display: block;
  }
}
